{% extends "base.html" %}

{% block title %}Edit Board{% endblock %}
{% block headerContent %}<h1>Edit Board</h1>{% endblock %}
{% block content %}
<form method="POST" action="{{ url_for('boards.edit', board_id=board.id) }}">
    <label for="name">New Board Name:</label>
    <input type="text" id="name" name="name" value="{{ board.name }}" required>
    <button type="submit">Update Board</button>
</form>
{% endblock %}

{% block footerContent %}<p>2026 ECRC Admin Tool. All rights reserved.</p>{% endblock %}