<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ECRC Admin{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</head>
<body>
    <nav>                    
        <a class="navLink" href="{{ url_for('home.home') }}">Home</a>
        <a class="navLink" href="{{ url_for('boards.boards') }}">Boards</a>
        <a class="navLink" href="{{ url_for('people.people') }}">People</a>
    </nav>
    <div id="header">{% block headerContent %}{% endblock %}</div>
    <main>
        {% block content %}{% endblock %}
    </main>
    <div id="footer">{% block footerContent %}{% endblock %}</div>
</body>
</html>