{% extends "base.html" %}

{% block title %}Assignments{% endblock %}
{% block headerContent %}\
<h1>Assignment List Page(WIP)</h1>
{% endblock %}
{% block content %}
{{for assignment in assignments}}
  <div id="listItem">
    <li>
        <table style="width:100%">
            <tr>
                <td class="listText2" style="width:25%">{{assignment.person.first_name}} {{assignment.person.last_name}}</td>
                <td class="listText2" style="width:25%">{{assignment.role_type.name}}</td>
                <td class="listText2" style="width:30%">{{assignment.board.name}}</td>
                <td class="listText2" style="text-align:right;"><a class="line-button" href="{{ url_for('people.edit', person_id=assignment.person.id) }}">Edit</a> <a class="line-button delete-link" href="{{ url_for('people.delete', person_id=assignment.person.id) }}">Delete</a></td>
            </tr>
        </table>
    </li>
  </div>
{% endfor %}

{% endblock %}

{% block footerContent %}<p>2026 ECRC Admin Tool. All rights reserved.</p>{% endblock %}